<!DOCTYPE html>
<html>
<head>
    <title>isnewyear</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/responsive.css">
</head>
<body>

<div class="container text-center allcenter">
    {% if new_year %}
    <h1>Yeah!!! It is new Year</h1>
    {% else %}
    <h1>): NO :(</h1>
    {% endif %}
</div>


<div class="fixed-bottom container text-center">
    <p>This Program is written By : <a href="http://www.facebook.com/md.mortuza.hossain/">Mortuza Hossain</a></p>
</div>

</body>
</html>